* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 10rem;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;

}

img {
    height: auto;
    width: 100px;
}

#articleCard {
    height: 200px;
    width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



p {
    height: 20px;
    width: 100%;
    color: black;
}